<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samyak Tech Labs OCR</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script>
        function validateLanguageSelection() {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const checkedCount = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;
            
            // Ensure at least one checkbox is checked
            if (checkedCount === 0) {
                alert('Please select at least one language.');
                return false;
            }

            // Ensure no more than three checkboxes are checked
            if (checkedCount > 3) {
                alert('You can select a maximum of three languages.');
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Upload PDFs for OCR</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data" onsubmit="return validateLanguageSelection()">
            <input type="file" name="file[]" multiple accept="application/pdf" required>
            <div class="tooltip">
                <span>ⓘ</span>
                <span class="tooltiptext">The total size of all PDFs combined must be less than 100MB.</span>
            </div>
            <br><br>
            <h2>Select Document Languages</h2>
            <label><input type="checkbox" name="languages" value="eng" checked> English</label>
            <label><input type="checkbox" name="languages" value="guj"> Gujarati</label>
            <label><input type="checkbox" name="languages" value="hin"> Hindi</label>
            <label><input type="checkbox" name="languages" value="san"> Sanskrit</label>
            <div class="tooltip">
                <span>ⓘ</span>
                <span class="tooltiptext">Selecting more languages than necessary may slow down processing.</span>
            </div>
            <br><br>
            <h2>Advanced Configurations</h2>
            <label for="skip_big">Skip Big Images(MB):</label>
            <input type="number" id="skip_big" name="skip_big" min="0" value="50">
            <div class="tooltip">
                <span>ⓘ</span>
                <span class="tooltiptext">Skips images larger than the specified MB size.</span>
            </div>
            <br><br>
        
            <label for="optimize">Optimize Level (0-3):</label>
            <input type="number" id="optimize" name="optimize" min="0" max="3" value="0">
            <div class="tooltip">
                <span>ⓘ</span>
                <span class="tooltiptext">Set optimization level (0-3). Higher values result in more optimized PDFs but slower processing time.</span>
            </div>
            <br><br>
        
            <button type="submit">Upload and Process</button>
        </form>        
    </div>
</body>
</html>
