<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Progress</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script>
        function updateProgress() {
            fetch(`/status/{{ session_id }}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('progress-bar').value = data.percent;
                    document.getElementById('progress-text').innerText = `Overall Progress: ${data.percent.toFixed(2)}% (${data.current_file_index + 1}/${data.total_files} PDFs)`;
                    document.getElementById('current-file').innerText = `Processing: ${data.filename}`;
                    document.getElementById('ocr-progress').innerText = `OCR Progress for current PDF: ${data.ocr_progress.toFixed(2)}% (${data.pages_done}/${data.total_pages} pages)`;
                    document.getElementById('ocr-progress-bar').value = data.ocr_progress;
    
                    if (data.percent < 100) {
                        setTimeout(updateProgress, 1000);
                    } else {
                        // Replace the Stop button with Download and Start New OCR buttons
                        const buttonContainer = document.getElementById('button-container');
                        buttonContainer.innerHTML = `
                            <button onclick="window.location.href='/download/{{ session_id }}'">Download</button>
                            <button onclick="window.location.href='/'">Start New OCR</button>
                        `;
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    
        function stopProcessing() {
            fetch(`/stop/{{ session_id }}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'stopped') {
                        window.location.href = `/download/{{ session_id }}`;
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    
        window.onload = function() {
            updateProgress();
        };
    </script>    
</head>
<body>
    <div class="container">
        <h1>Processing Progress</h1>
        <progress id="progress-bar" value="0" max="100"></progress>
        <p id="progress-text">Overall Progress: 0%</p>
        <p id="current-file">Processing: No file</p>
        <progress id="ocr-progress-bar" value="0" max="100"></progress>
        <p id="ocr-progress">OCR Progress for current PDF: 0%</p>
        <div id="button-container">
            <button id="stop-button" onclick="stopProcessing()">Stop Processing</button>
        </div>
        
    </div>
</body>
</html>